<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload Success</title>
    <style>
      body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.message-box {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #2ecc71;
}

p {
  color: #333;
}

    </style>
  
</head>

<body>
    <div class="container">
        <div class="message-box">
            <h2>File Uploaded Successfully!</h2>
            <p>Your file has been successfully uploaded.</p>
        </div>
    </div>
</body>

</html>
